.radio {
    width: 21px;
    height: 21px;
    margin-right: 13px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin-bottom: 21px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.options {
    display: flex;
    flex-direction: column;
}
