.App {
    --header_height: 60px;
}

[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

.hw {
    padding: 24px 70px 32px 70px;
    /*background-color: white;*/
    background-color: var(--background);
}

.hwTitle {
    margin-top: 107px;
    margin-left: 70px;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
}